body{
  background-image: url("/images/maasaimara.jpeg");
}
nav{
  max-width: 960px;
  margin: 0 auto;
  padding: 10px 0;
  margin-right: 0%;
}
ul{
  text-align: right;
}
li{
  display: inline-block;
}